<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] OnlineShop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar">
        <div class="container nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">OnlineShop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- nav all users -->
                    <li>@await Component.InvokeAsync("Snowboard")</li>
                    <li>@await Component.InvokeAsync("Splitboard")</li>
                    <li>@await Component.InvokeAsync("Ski")</li>
                    <li>@await Component.InvokeAsync("Wakeboard")</li>
                    <li>@await Component.InvokeAsync("Kitesurf")</li>
                    <!--nav admin -->
                    @if (User.Identity.IsAuthenticated && User.IsInRole(ControllerConstants.AdministratorRole))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                                Create<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="Admin" asp-controller="Categories" asp-action="Create">Create Category</a></li>
                                <li><a asp-area="Admin" asp-controller="Products" asp-action="Create"> Create Product</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                    }
                    <li><a asp-area="" asp-controller="Brands" asp-action="Index">Brands</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <!-- Shopping Cart-->
                    <li>@await Component.InvokeAsync("ShoppingCart")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (TempData.ContainsKey(ControllerConstants.SuccessMessage))
        {
            <div class="alert alert-success">
                @TempData[ControllerConstants.SuccessMessage]
            </div>
        }
        @if (TempData.ContainsKey(ControllerConstants.ErrorMessage))
        {
            <div class="alert alert-danger">
                @TempData[ControllerConstants.ErrorMessage]
            </div>
        }
        @if (TempData.ContainsKey(ControllerConstants.WarningMessage))
        {
            <div class="alert alert-warning">
                @TempData[ControllerConstants.WarningMessage]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 OnlineShop</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
