@model ProductListingServiceModel
@{
    ViewData["Title"] = "All Products";
}

<div class="card" style="width: auto">
    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToFriendlyUrl()">
        <!--<img src="Model.Thumbnail" class="img-responsive" />-->
        <img src="https://picsum.photos/500/300/?random&giud=@(Guid.NewGuid())" class="img-responsive">
    </a>

    <div class="card-body">
        <h5 class="card-title">@Model.Title.ToFriendlyUrl()</h5>
        <h5 class="card-subtitle">@Model.Price.ToString("N")</h5>
        <p class="card-text">@Model.ShortDescription</p>
    </div>

    <div class="card-link">
        <a class="btn btn-info btn-sm" id="cartButton" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToFriendlyUrl()">Details</a>
        <a class="btn btn-success btn-sm" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id">Add to cart</a>

        <!--admin only-->
        @if (User.Identity.IsAuthenticated && User.IsInRole(ControllerConstants.AdministratorRole))
        {
            <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
    </div>
</div>
